.miDivision{
     border:darkred solid 10px;
     border-style: double ;
     width: 300px;
     margin: 0 auto;
}
.inputText
{
    
    border:darkred solid 5px;
    margin:10px;
    width: 100px;
    
}
.Mybutton
{
    margin:20px;
    border:darkslategray solid 2px;
    width: 60px;
    height: 20px;
    font-size: 20px;


}
#resultado
{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    width: 100px;
    margin: 0 auto;

}